<form method="post">
    <input type="text" placeholder="Email" name="email"/><br />
    <input type="password" placeholder="Contraseña" name="contraseña" /><br />
    <button type="submit">Login</button>
</form>